@model ADYC.WebUI.ViewModels.OfferingEnrollmentListViewModel

@{
    var title = "Enroll (Offerings)";

    ViewBag.Title = title;
    ViewBag.PageHeader = title;

    ViewBag.BreadcrumbLinks = new Dictionary<string, string>
    {
        [title] = ""
    };

    ViewBag.ActiveBreadcrumb = title;
}

<link href="~/Content/jPages.css" rel="stylesheet" />

<style>
    .offering-slide {
        background-image: url('../../../../Images/waves.gif');
        list-style: none;
        padding: 30px 0px 0px 0px;
        margin-bottom: 0px;
    }

    .slide-item {
        position: relative;
        padding-left: 100px;
        padding-bottom: 35px;
    }

    .offering-slide>li h2 {
        text-align: center;
    }

    .offering-slide-info {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .offering-slide-img {
        position: absolute;
        bottom: 0px;
        right: 15px;
    }
</style>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Term</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.Term.Name</dd>
            <dt>Start Date</dt>
            <dd>@Model.Term.StartDate.ToString("MMMM dd, yyyy")</dd>
            <dt>End Date</dt>
            <dd>@Model.Term.EndDate.ToString("MMMM dd, yyyy")</dd>
            <dt>Enrollment Deadline</dt>
            <dd>@Model.Term.EnrollmentDeadLine.ToString("MMMM dd, yyyy")</dd>
            <dt>Withdraw Deadline</dt>
            <dd>@Model.Term.EnrollmentDropDeadLine.ToString("MMMM dd, yyyy")</dd>
            <dt>Current Term</dt>
            <dd>@((Model.IsCurrentTerm) ? "Yes" : "No")</dd>
        </dl>
    </div>
</div>

@if (Model.IsStudentCurrentlyEnrolled)
{
    <div class="callout callout-info">
        <h4><i class="fa fa-info-circle"></i> Info</h4>

        <p>Sorry! You are currently enrolled in another offering during this term.</p>
    </div>
}
else
{
    <div class="row">

        <div class="col-md-8 col-xs-12">
            <div class="box box-info">
                <div class="box-body">
                    Please select the offering in which you want to enroll in.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Offerings</h3>
                </div>
                <div class="box-header with-border">
                    <div class="holder no-margin pull-right"></div>
                    <ul class="pagination pagination-sm no-margin pull-right"></ul>
                </div>
                <div class="box-body no-padding bg-slide">
                    <ul id="offeringsContainer" class="offering-slide" data-url="@Url.Action("ViewSchedules")">
                        @foreach (var offering in Model.Offerings)
                        {
                            <li class="slide-item" data-id="@offering.Id">
                                <div>
                                    <h2>@offering.Title</h2>

                                    <dl class="offering-slide-info">
                                        <dt>Offering Title</dt>
                                        <dd>@offering.Title</dd>
                                        <dt>Location</dt>
                                        <dd>@offering.Location</dd>
                                        <dt>Days offered</dt>
                                        <dd>@offering.OfferingDays</dd>
                                        <dt>Course</dt>
                                        <dd>@offering.Course</dd>
                                        <dt>Professor</dt>
                                        <dd>@offering.Professor</dd>
                                        <dt>Notes</dt>
                                        <dd>@offering.Notes</dd>
                                    </dl>
                                </div>

                                <div class="offering-slide-btn">
                                    <a href="@Url.Action("Enrollment", new { offeringId = offering.Id })" data-title="@offering.Title" class="btn btn-lg btn-success js-enrollment">
                                        <i class="fa fa-user-plus"></i> Enroll
                                    </a>
                                </div>
                                <div class="offering-slide-img">
                                    <img class="" src="~/Images/bg_actividad.png">
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="holder no-margin pull-right"></div>
                    <ul class="pagination pagination-sm no-margin pull-right"></ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Schedules</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="schedule"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
}

@section scripts
{
    <script src="~/Scripts/jPages.min.js"></script>

    <script>
        $(document).ready(function () {
            var studentEnrollmentCurrentPage = sessionStorage.getItem("studentEnrollmentCurrentPage") || 1;
            var totalOfferings = sessionStorage.getItem("totalOfferings") || 0;

            var getSchedules = function (termId) {
                var link = $("#offeringsContainer").attr("data-url");

                link = link + "/?offeringId=" + termId;

                $.ajax({
                    url: link,
                    method: "GET",
                    success: function (data) {
                        $("#schedule").html(data);
                    },
                    error: function (data) {
                        bootbox.alert(data.statusText);
                    }
                });
            }

            $("div.holder").jPages({
                containerID: "offeringsContainer",
                perPage: 1,
                startPage: studentEnrollmentCurrentPage,
                callback: function (pages, items) {
                    sessionStorage.setItem("totalOfferings", pages.count);
                    totalOfferings = sessionStorage.getItem("totalOfferings");

                    sessionStorage.setItem("studentEnrollmentCurrentPage", pages.current);

                    var termId = items.showing.attr("data-id");

                    getSchedules(termId);
                }
            });

            $("div.holder").jPages(studentEnrollmentCurrentPage);

            $(".js-enrollment").on("click", function (e) {
                e.preventDefault();

                var link = $(this);
                var title = link.attr("data-title");

                bootbox.confirm({
                    title: "Enrollment",
                    message: "Do you want to enroll in the following offering, " + title + "?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            window.location = link.attr("href");
                        }
                    }
                });
            });
        });
    </script>

    <script src="~/Scripts/bootbox.js"></script>
}