@model ADYC.WebUI.ViewModels.ScheduleListViewModel

@{
    ViewBag.Title = Model.Title;

    var isCurrentTerm = Model.Offering.Term.IsCurrentTerm;
}

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />

<h1>@Model.Title</h1>

@if (!isCurrentTerm)
{
    <div class="alert alert-info" role="alert">
        This term is not the current term, you are not allowed to make changes at this time.
    </div>
}

@using (Html.BeginForm("SaveSchedules", "Offerings", FormMethod.Post))
{
    @Html.HiddenFor(m => Model.OfferingId)
    @Html.HiddenFor(m => Model.Offering.Title)
    @Html.HiddenFor(m => Model.Offering.Location)
    @Html.HiddenFor(m => Model.Offering.TermId)
    @Html.HiddenFor(m => Model.IsNew)

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-8">
            <ul class="term-info">
                <li><h5><strong>Offering: </strong>@Model.Offering.Title</h5></li>
                <li><h5><strong>Location: </strong>@Model.Offering.Location</h5></li>
                <li><h5><strong>Course: </strong>@Model.Offering.Course.Name</h5></li>
                <li><h5><strong>Professor: </strong>@Model.Offering.Professor</h5></li>
                <li>
                    <h5>
                        <strong>Term: </strong>@Model.Offering.Term.Name @if (@Model.Offering.Term.IsCurrentTerm)
                        {
                            <span class="badge">Current</span>
                        }
                        (@Model.Offering.Term.StartDate.ToString("MMMM dd, yyyy") - @Model.Offering.Term.EndDate.ToString("MMMM dd, yyyy"))

                    </h5>
                </li>
                <li>
                    <h5>
                        <strong>Notes: </strong>@Model.Offering.Notes
                    </h5>
                </li>
            </ul>
        </div>
    </div>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })

        <table id="terms" class="table table-bordered table-striped display">
            <thead>
                <tr>
                    <th>
                        Day
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        End Time
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Days.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => Model.Schedules[i].Id)
                            @Html.HiddenFor(m => Model.Schedules[i].OfferingId)
                            @Html.HiddenFor(m => Model.Schedules[i].Day)
                            @Model.Days.ElementAt(i).Name
                        </td>
                        <td>
                            @if (isCurrentTerm)
                            {
                                @Html.EditorFor(model => Model.Schedules[i].StartTime, new { htmlAttributes = new { @class = "form-control", data_id = @Model.Days.ElementAt(i).Id } })
                                @Html.ValidationMessageFor(model => Model.Schedules[i].StartTime, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.EditorFor(model => Model.Schedules[i].StartTime, new { htmlAttributes = new { @class = "form-control", data_id = @Model.Days.ElementAt(i).Id, disabled = "disabled" } })
                            }
                        </td>
                        <td>
                            @if (isCurrentTerm)
                            {
                                @Html.EditorFor(model => Model.Schedules[i].EndTime, new { htmlAttributes = new { @class = "form-control", data_id = @Model.Days.ElementAt(i).Id } })
                                @Html.ValidationMessageFor(model => Model.Schedules[i].EndTime, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.EditorFor(model => Model.Schedules[i].EndTime, new { htmlAttributes = new { @class = "form-control", data_id = @Model.Days.ElementAt(i).Id, disabled = "disabled" } })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (isCurrentTerm)
        {
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
}

<div>
    @Html.ActionLink("Back to offerings", "View", new { termId = Model.Offering.TermId })
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var startTimeElements = $("[id$=__StartTime]");
            var endTimeElements = $("[id$=__EndTime]");

            startTimeElements.each(function (index) {
                var tp = $(this);
                tp.attr("data-val", false);

                tp.timepicker({
                    'minTime': '6:00am',
                    'maxTime': '12:00am'
                });

                tp.on('change', function () {
                    var id = tp.attr("data-id");

                    $("#Schedules_" + id + "__EndTime").timepicker('remove');

                    $("#Schedules_" + id + "__EndTime").timepicker({
                        'minTime': $(this).val(),
                        'maxTime': '12:00am'
                    });
                });
            });

            endTimeElements.each(function (index) {
                var tp = $(this);
                tp.attr("data-val", false);

                tp.timepicker({
                    'minTime': '6:00am',
                    'maxTime': '12:00am'
                });

                tp.on('change', function () {
                    var id = tp.attr("data-id");

                    $("#Schedules_" + id + "__StartTime").timepicker('remove');

                    $("#Schedules_" + id + "__StartTime").timepicker({
                        'minTime': '6:00am',
                        'maxTime': $(this).val()
                    });
                });
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
}