@model ADYC.WebUI.ViewModels.OfferingFormViewModel

@if (!Model.IsCurrentTerm)
{
    <div class="callout callout-info">
        <h4><i class="fa fa-info-circle"></i> Term</h4>

        <p>This term is not the current term, you are not allowed to make changes at this time.</p>
    </div>
}

@using (Html.BeginForm("Save", "Offerings", FormMethod.Post))
{

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TermId)
    @Html.HiddenFor(model => model.IsNew)

    @Html.AntiForgeryToken()

    <div class="box box-primary">

        @if (!Model.IsCurrentTerm)
        {
            <div class="box-header with-border">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="@Url.Action("View", new { TermId = Model.TermId })" class="btn btn-default btn-sm"><i class="fa fa-arrow-circle-left"></i> Back to list of offerings</a>
                    </div>
                </div>
            </div>
        }

        <div class="box-body">
            @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-red" })

            @{
                object htmlAttributes = null;
                object htmlAttrTextArea = null;

                if (Model.IsCurrentTerm)
                {
                    htmlAttributes = new { @class = "form-control" };
                    htmlAttrTextArea = new { @class = "textarea", style = "width:100%", rows = 5 };
                }
                else
                {
                    htmlAttributes = new { @class = "form-control", disabled = "disabled" };
                    htmlAttrTextArea = new { @class = "textarea", style = "width:100%", @disabled = "disabled", rows = 5 };
                }
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Title)

                @Html.EditorFor(model => model.Title, new { htmlAttributes = htmlAttributes })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-red" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseId)

                @Html.DropDownListFor(model => model.CourseId, new SelectList(Model.Courses, "Id", ""), "Select Course", htmlAttributes)
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-red" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProfessorId)

                @Html.DropDownListFor(m => m.ProfessorId, new SelectList(Model.Professors, "Id", ""), "Select Professor", htmlAttributes)
                @Html.ValidationMessageFor(model => model.ProfessorId, "", new { @class = "text-red" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TermId)

                @Html.DropDownListFor(m => m.TermId, new SelectList(Model.Terms, "Id", "Name"), new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.TermId, "", new { @class = "text-red" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Location)

                @Html.EditorFor(model => model.Location, new { htmlAttributes = htmlAttributes })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-red" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OfferingDays)

                @Html.EditorFor(model => model.OfferingDays, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.OfferingDays, "", new { @class = "text-red" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Notes)

                @Html.TextArea("Notes", htmlAttrTextArea)
                @Html.ValidationMessageFor(model => Model.Notes, "", new { @class = "text-red" })
            </div>
        </div>

        @if (Model.IsCurrentTerm)
        {
            <div class="box-footer">
                <a href="@Url.Action("View", new { TermId = Model.TermId })" class="btn btn-default">Cancel</a>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        }
    </div>
                }

@section styles {
    <link href="~/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        $(document).ready(function () {
            //bootstrap WYSIHTML5 - text editor
            $(".textarea").wysihtml5();
        });
    </script>

    <script src="~/admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
}