@model ADYC.API.ViewModels.OfferingDto

<tr>
    <td>
        @Html.DisplayFor(m => m.Id)
    </td>
    <td>
        @Html.DisplayFor(m => m.Title)
    </td>
    <td>
        @Html.DisplayFor(m => m.Location)
    </td>
    <td>
        @Html.DisplayFor(m => m.OfferingDays)
    </td>
    <td>
        @Model.Professor
    </td>
    <td>
        @Html.DisplayFor(m => m.Course.Name)
    </td>
    <td>
        @Html.DisplayFor(m => m.Course.CourseType.Name)
    </td>
    <td>
        <a href="@Url.Action("edit")" data-offeringId="@Model.Id" class="btn btn-xs btn-primary js-edit">
            <i class="fa fa-edit"></i> Edit
        </a>

        <a href="@Url.Action("schedules", new { offeringId = Model.Id })" data-id="@Model.Id" class="btn btn-xs btn-default">
            <i class="fa fa-calendar"></i> Schedule
        </a>

        <a href="@Url.Action("delete", new { id = Model.Id, force = false })" data-id="@Model.Id" class="btn btn-xs btn-danger js-delete" data-name="Are you sure you want to delete @Model.Title FOREVER?">
            <i class="fa fa-remove"></i> Delete
        </a>
    </td>
</tr>