@model ADYC.WebUI.ViewModels.ScheduleListViewModel

@{
    var title = "Schedules";

    ViewBag.Title = title;
    ViewBag.PageHeader = title;

    ViewBag.BreadcrumbLinks = new Dictionary<string, string>
    {
        ["Offerings"] = Url.Action("View", new { TermId = Model.Offering.TermId }),
        [title] = "",
    };

    ViewBag.ActiveBreadcrumb = title;
}

@if (!Model.IsCurrentTerm)
{
    <div class="callout callout-info">
        <h4><i class="fa fa-info-circle"></i> Term</h4>

        <p>This term is not the current term, you are not allowed to make changes at this time.</p>
    </div>
}


<div class="row">
    <div class="col-md-6 col-sm-12">
        @using (Html.BeginForm("SaveSchedules", "Offerings", FormMethod.Post))
        {
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Schedule</h3>
                </div>
                <div class="box-header with-border">
                    <a href="@Url.Action("View", new { termId = Model.Offering.TermId })" class="btn btn-sm btn-default"><i class="fa fa-arrow-circle-left"></i> Back to offering list</a>
                </div>
                <div class="box-body">

                    @Html.HiddenFor(m => Model.Offering.Id)
                    @Html.HiddenFor(m => Model.OfferingId)
                    @Html.HiddenFor(m => Model.IsNew)
                    @Html.HiddenFor(m => Model.IsCurrentTerm)

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-red" })

                    <table id="terms" class="table table-bordered table-hover table-striped dataTable" role="grid">
                        <thead>
                            <tr>
                                <th>
                                    Day
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    End Time
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Days.Count(); i++)
                            {

                                object htmlAttr = null;

                                if (Model.IsCurrentTerm)
                                {
                                    htmlAttr = new { @class = "form-control", data_id = @Model.Days.ElementAt(i).Id };
                                }
                                else
                                {
                                    htmlAttr = new { @class = "form-control", data_id = @Model.Days.ElementAt(i).Id, disabled = "disabled" };
                                }

                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => Model.Schedules[i].Id)
                                        @Html.HiddenFor(m => Model.Schedules[i].OfferingId)
                                        @Html.HiddenFor(m => Model.Schedules[i].Day)
                                        @Model.Days.ElementAt(i).Name
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => Model.Schedules[i].StartTime, new { htmlAttributes = htmlAttr })
                                        @Html.ValidationMessageFor(model => Model.Schedules[i].StartTime, "", new { @class = "text-red" })
                                    </td>

                                    <td>
                                        @Html.EditorFor(model => Model.Schedules[i].EndTime, new { htmlAttributes = htmlAttr })
                                        @Html.ValidationMessageFor(model => Model.Schedules[i].EndTime, "", new { @class = "text-red" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.IsCurrentTerm)
                {
                    <div class="box-footer">
                        <a href="@Url.Action("View", new { termId = Model.Offering.TermId })" class="btn btn-default">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                }
            </div>
        }
    </div>

    <div class="col-md-6 col-sm-12">

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i> Offering</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
                @if (!Model.IsCurrentTerm)
                {
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <a href="@Url.Action("View", new { termId = Model.Offering.TermId })" class="btn btn-default btn-sm"><i class="fa fa-arrow-circle-left"></i> Back to list of offerings</a>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <dl>
                    <dt>Offering Title</dt>
                    <dd>@Model.Offering.Title</dd>
                    <dt>Location</dt>
                    <dd>@Model.Offering.Location</dd>
                    <dt>Course</dt>
                    <dd>@Model.Offering.Course</dd>
                    <dt>Professor</dt>
                    <dd>@Model.Offering.Professor</dd>
                    <dt>Term</dt>
                    <dd>
                        @Model.Offering.Term.Name&nbsp;
                        @if (Model.IsCurrentTerm)
                        {
                            <span class="badge">Current</span>
                        }
                        &nbsp;@Model.Offering.Term
                    </dd>
                    <dt>Notes</dt>
                    <dd>@Model.Offering.Notes</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var startTimeElements = $("[id$=__StartTime]");
            var endTimeElements = $("[id$=__EndTime]");

            startTimeElements.each(function (index) {
                var tp = $(this);
                tp.attr("data-val", false);

                tp.timepicker({
                    'minTime': '6:00am',
                    'maxTime': '12:00am'
                });

                tp.on('change', function () {
                    var id = tp.attr("data-id");

                    $("#Schedules_" + id + "__EndTime").timepicker('remove');

                    $("#Schedules_" + id + "__EndTime").timepicker({
                        'minTime': $(this).val(),
                        'maxTime': '12:00am'
                    });
                });
            });

            endTimeElements.each(function (index) {
                var tp = $(this);
                tp.attr("data-val", false);

                tp.timepicker({
                    'minTime': '6:00am',
                    'maxTime': '12:00am'
                });

                tp.on('change', function () {
                    var id = tp.attr("data-id");

                    $("#Schedules_" + id + "__StartTime").timepicker('remove');

                    $("#Schedules_" + id + "__StartTime").timepicker({
                        'minTime': '6:00am',
                        'maxTime': $(this).val()
                    });
                });
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
}