@model ADYC.WebUI.ViewModels.OfferingListViewModel

@{
    var title = "Offerings (List)";

    ViewBag.Title = title;
    ViewBag.PageHeader = title;

    ViewBag.BreadcrumbLinks = new Dictionary<string, string>
    {
        ["Offerings (Terms)"] = Url.Action("Index"),
        [title] = ""
    };

    ViewBag.ActiveBreadcrumb = title;
}

@Html.HiddenFor(m => Model.Term.Id)

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle"></i> Term</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>Term Name</dt>
            <dd>@Model.Term.Name (@Model.Term)</dd>
            <dt>Enrollment Deadline</dt>
            <dd>@Model.Term.EnrollmentDeadLine.ToString("MMMM dd, yyyy")</dd>
            <dt>Enrollment Withdraw</dt>
            <dd>@Model.Term.EnrollmentDropDeadLine.ToString("MMMM dd, yyyy")</dd>
            <dt>Current Term</dt>
            <dd>@(Model.IsCurrentTerm ? "Yes" : "No")</dd>
        </dl>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="btn-toolbar">
            <a id="newOfferingBtn" href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Create Offering</a>
            <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="fa fa-arrow-circle-left"></i> Back to list of terms</a>
        </div>
    </div>
    <div class="box-body">
        <table id="offerings" class="table table-bordered table-hover table-striped dataTable" role="grid">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Days Offered
                    </th>
                    <th>
                        Professor
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Course Type
                    </th>
                    <th class="actions">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var offering in Model.Offerings)
            {
                    @Html.Partial("pv_OfferingRow", offering)
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            function addDeleteEvent() {
                $(".js-delete").on("click", deleteFn);
            }

            function deleteFn(e) {
                e.preventDefault();

                var link = $(this);
                var tr = link.closest("tr");

                bootbox.prompt({
                    title: link.attr("data-name"),
                    inputType: 'checkbox',
                    inputOptions: [
                        {
                            text: 'Force deleting offering?',
                            value: '1',
                        }
                    ],
                    callback: function (result) {
                        console.log(result);
                        if (result !== null) {
                            var href = link.attr("href");

                            if (result[0] === '1') {
                                href = href.replace("force=False", "force=True");
                            }

                            $.ajax({
                                url: href,
                                method: "get",
                                success: function (data) {
                                    tr.remove();
                                    addDeleteEvent();
                                },
                                error: function (data) {
                                    bootbox.alert(data.statustext);
                                }
                            });
                        }
                    }
                });
            }

            addDeleteEvent();

            $('#offerings').DataTable();

            $("#newOfferingBtn").click(function (e) {
                e.preventDefault();

                var termId = $("<input type='hidden'/>")
                    .attr("name", "TermId")
                    .val($("#Term_Id").val());

                $("<form>")
                    .attr("method", "post")
                    .attr("action", $(this).attr("href"))
                    .append(termId)
                    .appendTo(document.body)
                    .submit();
            });

            $(".js-edit").on("click", function (e) {
                e.preventDefault();

                var termId = $("<input type='hidden'/>")
                    .attr("name", "TermId")
                    .val($("#Term_Id").val());

                var offeringId = $("<input type='hidden'/>")
                    .attr("name", "OfferingId")
                    .val($(this).attr("data-offeringId"));

                $("<form>")
                    .attr("method", "post")
                    .attr("action", $(this).attr("href"))
                    .append(termId)
                    .append(offeringId)
                    .appendTo(document.body)
                    .submit();
            });

        });
    </script>

    <script type="text/javascript" src="~/Scripts/adyc.table.utils.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}