@model ADYC.WebUI.ViewModels.CourseTypeFormViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.PageHeader = Model.Title;

    ViewBag.BreadcrumbLinks = new Dictionary<string, string>
    {
        ["Course Types"] = Url.Action("Index"),
        [Model.Title] = "",
    };

    ViewBag.ActiveBreadcrumb = Model.Title;
}

@using (Html.BeginForm("Save", "CourseTypes", FormMethod.Post))
{
    <div class="box box-primary">

        <div class="box-body">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.IsNew)

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-red" })

            <div class="form-group">
                @Html.LabelFor(m => m.Name)

                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-red" })

            </div>
        </div>

        <div class="box-footer">
            <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}