@model IEnumerable<ADYC.Model.Professor>

@{
    ViewBag.Title = "Professors";
}

<h2>Professors</h2>

<div id="msg-div">
</div>

<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Create Professor</a>
    </div>
</div>

<table id="professors" class="table table-bordered table-striped display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.CellphoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var professor in Model)
        {
            @Html.Partial("pv_ProfessorRow", professor)

        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var tableHelper = TH$({
                table: "professors",
                messageDiv: "#msg-div",
                addTrashEvent: true,
                addRestoreEvent: true,
                addDeleteEvent: true
            });

            $('#professors').DataTable();
        });
    </script>

    <script type="text/javascript" src="~/Scripts/adyc.table.utils.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}