@model ADYC.API.ViewModels.CourseDto

<tr>
    <td>
        @Html.DisplayFor(m => m.Id)
    </td>
    <td>
        @Html.DisplayFor(m => m.Name)
    </td>
    <td>
        @Html.DisplayFor(m => m.CourseType.Name)
    </td>
    <td>
        <a href="@Url.Action("edit", new {Model.Id})" class="btn btn-xs btn-primary">
            <i class="fa fa-edit"></i> Edit
        </a>

        @if (!Model.IsDeleted)
        {
            <div class="btn-group btn-group-xs">
                <a href="@Url.Action("trash", new { Model.Id })" data-id="@Model.Id" class="btn btn-danger js-trash" data-name="Are you sure you want to trash @Model.Name?"><i class="fa fa-trash"></i> Trash</a>
                <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("delete", new { Model.Id })" data-id="@Model.Id" class="js-delete" data-name="Are you sure you want to delete @Model.Name FOREVER?">
                            <i class="fa fa-remove"></i> Delete
                        </a>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <a href="@Url.Action("restore", new { Model.Id })" class="btn btn-xs btn-success js-restore" data-post="">
                <i class="fa fa-undo"></i> Restore
            </a>
        }
    </td>
</tr>
