@model ADYC.Model.Offering

<tr>
    <td>
        @Html.DisplayFor(m => m.Id)
    </td>
    <td>
        @Html.DisplayFor(m => m.Title)
    </td>
    <td>
        @Html.DisplayFor(m => m.Location)
    </td>
    <td>
        @Html.DisplayFor(m => m.OfferingDays)
    </td>
    <td>
        @Html.DisplayFor(m => m.Course.Name)
    </td>
    <td>
        @Html.DisplayFor(m => m.Course.CourseType.Name)
    </td>
    <td>
        <a href="@Url.Action("enrollments", new { offeringId = Model.Id })" data-id="@Model.Id" class="btn btn-xs btn-default">
            <i class="glyphicon glyphicon-calendar"></i> Enrollments
        </a>
    </td>
</tr>