@model ADYC.WebUI.ViewModels.OfferingListViewModel

@{
    ViewBag.Title = "Offerings";
}

<h2>Offerings</h2>

<div id="msg-div">
</div>

<div class="row">
    <div class="col-sm-8">
        <ul class="term-info">
            <li>
                <h5><strong>Term Name: </strong>@Model.Term.Name (@Model.Term)</h5>
            </li>
            <li>
                <h5><strong>Enrollment Deadline: </strong>@Model.Term.EnrollmentDeadLine.ToString("MMMM dd, yyyy")</h5>
                <h5><strong>Enrollment Withdraw: </strong>@Model.Term.EnrollmentDropDeadLine.ToString("MMMM dd, yyyy")</h5>
            </li>
            <li>
                <h5><strong>Current Term: </strong> @(Model.IsCurrentTerm ? "Yes" : "No")</h5>
            </li>
        </ul>
    </div>
</div>

<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back to list of terms</a>
    </div>
</div>

@Html.HiddenFor(m => Model.Term.Id)

<table id="offerings" class="table table-bordered table-striped display">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Location
            </th>
            <th>
                Days Offered
            </th>
            <th>
                Course
            </th>
            <th>
                Course Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offering in Model.Offerings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => offering.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => offering.Title)
                </td>
                <td>
                    @Html.DisplayFor(m => offering.Location)
                </td>
                <td>
                    @Html.DisplayFor(m => offering.OfferingDays)
                </td>
                <td>
                    @Html.DisplayFor(m => offering.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => offering.Course.CourseType.Name)
                </td>
                <td>
                    <a href="@Url.Action("ViewEnrollments", new { offeringId = offering.Id })" class="btn btn-xs btn-default">
                        <i class="glyphicon glyphicon-user"></i> Enrollments
                    </a>
                    <a href="@Url.Action("ViewSchedules", new { offeringId = offering.Id })" class="btn btn-xs btn-default">
                        <i class="glyphicon glyphicon-calendar"></i> Schedules
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $('#offerings').DataTable();

        });
    </script>

    <script type="text/javascript" src="~/Scripts/adyc.table.utils.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}