@model ADYC.WebUI.ViewModels.OfferingListViewModel

@Html.HiddenFor(m => Model.Term.Id)

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle"></i> Term</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>Term Name</dt>
            <dd>@Model.Term.Name (@Model.Term)</dd>
            <dt>Enrollment Deadline</dt>
            <dd>@Model.Term.EnrollmentDeadLine.ToString("MMMM dd, yyyy")</dd>
            <dt>Enrollment Withdraw</dt>
            <dd>@Model.Term.EnrollmentDropDeadLine.ToString("MMMM dd, yyyy")</dd>
            <dt>Current Term</dt>
            <dd>@(Model.IsCurrentTerm ? "Yes" : "No")</dd>
        </dl>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="@Url.Action("Index")" class="btn btn-default btn-sm"><i class="fa fa-arrow-circle-left"></i> Back to list of terms</a>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="offerings" class="table table-bordered table-hover table-striped dataTable" role="grid">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Days Offered
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Course Type
                    </th>
                    <th style="width:16%">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var offering in Model.Offerings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => offering.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => offering.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(m => offering.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(m => offering.OfferingDays)
                        </td>
                        <td>
                            @Html.DisplayFor(m => offering.Course.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => offering.Course.CourseType.Name)
                        </td>
                        <td>
                            <a href="@Url.Action("ViewEnrollments", new { offeringId = offering.Id })" class="btn btn-xs btn-primary">
                                <i class="fa fa-users"></i> Enrollments
                            </a>
                            <a href="@Url.Action("ViewSchedules", new { offeringId = offering.Id })" class="btn btn-xs btn-default">
                                <i class="fa fa-calendar"></i> Schedules
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section styles {
    <link rel="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
}

@section scripts
{
    <script>
        $(document).ready(function () {

            $('#offerings').DataTable();

        });
    </script>

    @Scripts.Render("~/bundles/datatables")
    
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}
