@model ADYC.WebUI.ViewModels.ScheduleListViewModel

@{
    ViewBag.Title = Model.Title;

    var isCurrentTerm = Model.Offering.Term.IsCurrentTerm;
}

<h1>@Model.Title</h1>

<div class="row">
    <div class="col-sm-8">
        <ul class="term-info">
            <li><h5><strong>Offering: </strong>@Model.Offering.Title</h5></li>
            <li><h5><strong>Location: </strong>@Model.Offering.Location</h5></li>
            <li><h5><strong>Course: </strong>@Model.Offering.Course.Name</h5></li>
            <li><h5><strong>Professor: </strong>@Model.Offering.Professor</h5></li>
            <li>
                <h5>
                    <strong>Term: </strong>@Model.Offering.Term.Name @if (isCurrentTerm)
                    {
                        <span class="badge">Current</span>
                    }
                    (@Model.Offering.Term.StartDate.ToString("MMMM dd, yyyy") - @Model.Offering.Term.EndDate.ToString("MMMM dd, yyyy"))

                </h5>
            </li>
            <li>
                <h5>
                    <strong>Notes: </strong>@Model.Offering.Notes
                </h5>
            </li>
        </ul>
    </div>
</div>

<div class="form-horizontal">

    @Html.ValidationSummary(true, "Please fix the following errors:", new { @class = "text-danger" })

    <table id="terms" class="table table-bordered table-striped display">
        <thead>
            <tr>
                <th>
                    Day
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Days.Count(); i++)
            {
                <tr>
                    <td>
                        @Model.Days.ElementAt(i).Name
                    </td>
                    <td>
                        @if (Model.Schedules[i].StartTime.HasValue)
                        {
                            @Model.Schedules[i].StartTime.Value.ToString("hh:mm tt")
                        }
                    </td>
                    <td>
                        @if (Model.Schedules[i].EndTime.HasValue)
                        {
                            @Model.Schedules[i].EndTime.Value.ToString("hh:mm tt")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @Html.ActionLink("Back to offerings", "ViewOfferings", new { termId = Model.Offering.TermId })
    </div>

</div>