@model IEnumerable<ADYC.API.ViewModels.TermDto>

@{
    var title = "Terms";
    ViewBag.Title = title;
    ViewBag.PageHeader = title;

    ViewBag.BreadcrumbLinks = new Dictionary<string, string>
    {
        [title] = ""
    };

    ViewBag.ActiveBreadcrumb = title;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="@Url.Action("new")" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Create term">
                            <i class="fa fa-plus"></i> Create Term
                        </a>
                        <a href="@Url.Action("edit")" id="editBtn" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Edit term">
                            <i class="fa fa-edit"></i> Edit Term
                        </a>
                        <a href="@Url.Action("delete")" id="deleteBtn" class="btn btn-sm btn-danger js-delete" data-toggle="tooltip" data-placement="top" title="Delete term">
                            <i class="fa fa-remove"></i> Delete Term
                        </a>
                    </div>

                    <a href="@Url.Action("periodDates")" id="periodDatesBtn" class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Edit periods' dates for the term">
                        <i class="fa fa-calendar"></i> Periods' dates
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table id="terms" class="table table-bordered table-hover table-striped dataTable" role="grid">
                    <thead>
                        <tr>
                            <th>
                                SEL.
                            </th>
                            <th>
                                Id
                            </th>
                            <th>
                                Term Name
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                Enrollment Deadline
                            </th>
                            <th>
                                Enrollment Withdraw
                            </th>
                            <th>
                                Current
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var term in Model)
            {
                            @Html.Partial("pv_TermRow", term)

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
}

@section scripts
{
    <script>
        $(document).ready(function () {

            var tableHelper = TH$({
                table: "terms",
                messageDiv: "msg-div",
                addDeleteEvent: true
            });

            $('#terms').DataTable();

            $('[data-toggle="tooltip"]').tooltip();

            var periodDatesBtn = $("#periodDatesBtn");
            var editBtn = $("#editBtn");
            var deleteBtn = $("#deleteBtn");
            var deleteBtnHref = deleteBtn.attr("href");            

            periodDatesBtn.attr("disabled", true);
            editBtn.attr("disabled", true);
            deleteBtn.attr("disabled", true);

            periodDatesBtn.on("click", function (e) {
                e.preventDefault();

                var tId = $('input[name=tId]:checked').val();

                if (tId) {
                    window.location = $(this).attr("href") + "?termId=" + tId;
                }
            });

            editBtn.on("click", function (e) {
                e.preventDefault();

                var tId = $('input[name=tId]:checked').val();

                if (tId) {
                    window.location = $(this).attr("href") + "/" + tId;
                }
            });

            deleteBtn.on("click", function (e) {
                e.preventDefault();

                var tId = $('input[name=tId]:checked').val();

                if (tId) {
                    var link = $('input[name=tId]:checked').next("a.js-delete");
                    link.click();
                }
            });

            $('input[name=tId]').on("click", function () {
                periodDatesBtn.attr("disabled", false);
                editBtn.attr("disabled", false);
                deleteBtn.attr("disabled", false);
            });

        });
    </script>

    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}
